$color_of_hero: #ffffff;
@mixin flex_column {
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hero {
  position: relative;
  font-family: "Poppins", sans-serif;
  width:100%;
  height:800px;
  
  & > img {
    position:absolute;
    z-index:-1;
    object-fit: cover;
    width:100%;
    height:800px;
  }
  .container_hero{
    width:100%;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    left:-15px;
    height:800px;
    header {
     
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      nav {
       
        display: flex;
        justify-content:space-between;
        & > img {
          margin-top: 15.35px;
          margin-left: 125px;
        }
        .right_part_nav {
          margin-right: 172px;
          margin-top: 36px;
          display: flex;
          gap:70px;
          color: $color_of_hero;
        }
      }
    }
    main {
     
      @include flex_column();
      gap: 50px;
      color: $color_of_hero;
      margin-left: 150px;
      margin-top: 120px;
      .main_text_of_hero {
        font-size: 64px;
        font-weight: 700;
      }
      .second_text_of_hero {
      
        font-size: 22px;
        font-weight: 400;
      }
      button {
        
        width: 330px;
        height: 90px;
        background-color: #b77e66;
        color: $color_of_hero;
        font-size:24px;
        font-weight: 700;
        border: solid transparent;
        border-radius: 10px;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.3);
      }
    }
  }
  
}
.second_page {
  padding:auto;
  font-family: "Inter", sans-serif;
  width:100%;
  height:684px;
  position: relative;
  bottom: 15px;

  img {
    padding:auto;
    width:100%;
    height:700px;
  }

  .text_of_second_page {
    padding:auto;
    @include flex_column();
    position: relative;
    bottom: 690px;
    margin-right: 100px;
    margin-top: 220px;
    gap: 30px;
    align-items: flex-end;

    .main_text_of_second_pg {
      padding:auto;
      color: #471e22;
      font-size: 35px;
      font-weight: 600;
    }

    .last_text_of_second_pg {
      padding:auto;
      color: #533b2f;
      font-size: 21px;
      font-weight: 400;
      letter-spacing: 0.8px;
    }

    button {
      padding:auto;
      background-color: rgba(183, 126, 102, 1);
      color: $color_of_hero;
      width: 180px;
      height: 45px;
      border: solid transparent;
      border-radius: 10px;
    }
  }
}

.third_page {
  padding:auto;
  font-family:Irish Grover;
  width:100%;
  height:500px;
 
  img {
    padding:auto;
    width: 100%;
    height: 500px;
    position:absolute;
    z-index:-1;
   
  }
  .text_of_third_pg{
    display:flex;
    gap:139px;
    
    button{
      font-family:Irish Grover;
      margin-top:145px;
      margin-left:110px;
      width:535px;
      height:147px;
      background:#221B1899;
      border-radius:10px; 
      color: $color_of_hero;
      font-size: 64px;
      font-weight: 400;
       
    }
    .days{
      margin-top:126px;
      display:flex;
      gap:80px;
      color: #FFF;
      font-size: 36px;
      font-weight:400;
   

      .row1,.row2{
        @include flex_column;
        gap:25px;
      }
    }
  }
}
.fourth_page{
  padding:auto;
  font-family:Poppins;
  width:100%;
  height:820px;
  &>img{
    position:absolute;
    z-index:-1;
    width:100%;
    height:820px;
  
  }
  .our_menu{
    color:#903711;
    font-size:50px;
    font-weight:400;
    margin-top: 83px;
    margin-left:590px;
    display:inline-block;
    -webkit-text-stroke: 1px $color_of_hero;
    letter-spacing:-0.3px;
  }
  .coffee{
    text-decoration: underline;
    margin-left:240.29px;
    margin-top:37.26px;
    color: #9E5A3D;
    font-size: 30px;
    font-weight:600;
    margin-bottom:43.93px;
  }
  .menu_part{
    display:flex;
    gap:41px;
    padding-left:90px;
    padding-right:90px;


    .vector{
      position:relative;
      left:55px;
      top:210px;
      .vector_image{
        position: absolute;
        left:15px;
        top:10px;
      }
    }
    
    .cappacino,.mocha,.latte,.cold_java{
      @include flex_column;
      gap:10.86px;
      padding:15px;
      background:#734A39E0;
      border-radius:20px;
      box-shadow:0px 2px 20px 4px rgba(0, 0, 0, 0.25);
      
      img{
        border-radius:10px;
      }

      .coffee_text{
        color: $color_of_hero;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
      }
      .coffee_second_text{
        color: $color_of_hero;
        font-size: 12px;
        letter-spacing:0.24px;
        line-height: 21px;
        font-weight: 300;
        margin-bottom:53.32px;
      }
      .below_part_of_coffee{
        display:flex;
        gap:49px;

        .coffee_price{
          color:$color_of_hero;
          font-size: 21px;
          font-weight: 700;
        }

        button{
          padding:7.9px 18px;
          background:#A0583C;
          border:1px transparent;
          border-radius:10px;
          color:$color_of_hero;
          box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.25);
        }
      }
    }
    .last_vector{
      position: relative;
      right:55px;
      top:210px;

      .last_vector_image{
        position:absolute;
        right:18px;
        top:10px;
      }
    }
  }
}
.customers_page{
  padding: auto;
  font-family:Lexend;
  width:100%;
  height:609px;

  & > img{
    width:100%;
    height:609px;
    position:absolute;
    z-index:-1;
  }
  .title_of_customers_page{
    margin-left:-90px;
    display:flex;
    gap:40px;
    padding-top:81px;
    justify-content:center;
    align-items:center;
    hr{
      transform:rotate(180deg);
      width:300px;
      background: #CBCBCB;
    }
    p{
      color:$color_of_hero;
      font-family: Lexend;
      font-size: 40px;
      font-weight: 700;
      margin-left:25px;
    }
  }
  .customer_cards{
    padding:71px 171px 87.17px 130px;
    display:flex;
    gap:45px;

    .customer_card{
      position: relative;
      z-index:-1;
      top:40px;
      @include flex_column;
      align-items: center;
      padding:60px 42px 24.83px 54px;
      border-radius: 5px;
      background: rgba(88, 49, 21, 0.57);
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
      img{
        margin-bottom:3.72px;
      }
      
      .capter_of_customer_card{
        margin-bottom:8.36px;
        color:$color_of_hero;
        font-size: 32px;
        font-weight: 700;
      }
      .second_text_of_customer_card{
        color: #D3CECE;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 22.3px;
      }
      .last_part_of_customer_card{
        text-align:center;
        font-weight: 700;
        p:first-child{
          color: #54DD8B;
          font-size: 16px;
        }
        p:not(:first-child){
          color: #CACACA;
          font-size: 15px; 
        }
      }
    }
    .profile_of_customers{
      display:flex;
      gap:340px;
      position:absolute;
      left:250px;

      .customer_1{
        margin-left:30px;
      }
    }
  }
  .circles{
    display:flex;
    gap:10px;
    align-items:center;
    justify-content:center;
    margin-left:-12px;
    padding-bottom:40px;
    .circle_grey{
      background-color:grey;
      width: 9px;
      height:9px;
      border-radius:9px;
    }
    .circle_white{
      background-color:$color_of_hero;
      width:9px;
      height:9px;
      border-radius:9px;
    }
  }

}
.map_page{
  padding:auto;
  height:410px;
  background:#E3D9D5;
  display:flex;
  justify-content:space-around;
  align-items:center;

  box-shadow: 20px 20px 10px 0px rgba(62, 47, 25, 0.20);
  .map_image{
    height:374px;
    border:8px solid#795341;
    margin:8px 11px  8px 12px;
    position: absolute;
  }
  .top_of_map{
    position:relative;
    right:511px;
    bottom:120px;
  }
}
.footer_of_main_page{
  font-family:Poppins;
  width:100%;
  height: 760px;
  background:#1D1714D6;
  img{
    width:100%;
    height:760px;
    position: absolute;
    z-index:-1;
  }
  .container_footer_of_main_page{
    padding-top:174px;
    padding-right:208px;
    margin-bottom:212px;

    display: flex;
    justify-content:space-evenly;

    .left_part_of_footer{
      @include flex_column;
      gap:18px;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 2.3px;
      align-items: flex-start;
      a{
        font-family:Poppins;
        text-decoration: none;
        color:$color_of_hero;
      }
    }
    .middle_part{
      @include flex_column;
      gap:18px;
      align-items:flex-start;
      
      p{
        font-size: 20px;
        font-weight: 400;
        font-family:Poppins;
        color:$color_of_hero;
        margin-top:-3px;
      }
      
      .contact_number{
        text-decoration: underline;
      }

    } 
    .bartons_footer_container{

      .bartons_footer{
        width: 239px;
        height: 155px;
        position:absolute;
        z-index:1;
      }

    }  
    
  }
  footer{
    display:flex;
    justify-content:center;
    color:$color_of_hero;
    font-size: 20px;
    font-weight: 400;
    margin-left:40px;
    
    
  }
}

